<%= render "layouts/header" %>

<h1>Most Anticipated Events</h1>

<ul>
    <% @events.upcoming.each do |event| %>
    
    <li>
        <%= link_to event.title, event %>
    </li>
    
    <% end %>
</ul>

<h1>Past Events</h1>

<ul>
    <% @events.past.each do |event| %>
    
    <li>
        <%= link_to event.title, event %>
    </li>
    
    <% end %>
</ul>